<%= render :partial => 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<h1>Listes des grades</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= link_to 'Afficher', grade , class: 'btn  '%></td>
        <td><%= link_to 'Editer', edit_grade_path(grade) , class: 'btn  '%></td>
        <td><%= link_to 'Supprimer', grade, method: :delete, data: { confirm: 'Etes vous sur ?' } , class: 'btn  '%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Grade', new_grade_path, class: 'btn  ' %>
