<%= render :partial => 'partials/navbar' %>

<div class="row">
    <div class="col-md-5 col-md-offset-3">
    	
		<h1>Nouveau Grade</h1>

		<%= render 'form' %>

		<%= link_to 'Retour', grades_path , class: 'btn  '%>

    </div>
</div>
