<%= render :partial => 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @grade.name %>
</p>

<%= link_to 'Editer', edit_grade_path(@grade), class: 'btn  ' %> |
<%= link_to 'Retour', grades_path, class: 'btn  ' %>
