<%= render :partial => 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<h1>Listes des races</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @races.each do |race| %>
      <tr>
        <td><%= race.name %></td>
        <td><%= link_to 'Afficher', race , class: 'btn  '%></td>
        <td><%= link_to 'Modifier', edit_race_path(race) , class: 'btn  '%></td>
        <td><%= link_to 'Supprimer', race, method: :delete, data: { confirm: 'Etes vous sur?' } , class: 'btn  '%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle race', new_race_path, class: 'btn  ' %>
