<%= render :partial => 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<%= link_to 'Modifier', edit_race_path(@race) %> |
<%= link_to 'Retour', races_path %>
