<nav>
	<div class="nav-wrapper red darken-4">
	  <%= link_to 'Home', root_path, class: 'brand-logo right' %>
	  <ul id="nav-mobile" class="left hide-on-med-and-down">
	    <li><%= link_to 'Gestion des personnages', personnages_path, :style => "text-decoration:none"%></li>
	    <li><%= link_to 'Gestion des grades', grades_path, :style => "text-decoration:none" %></li>
	    <li><%= link_to 'Gestion des races', races_path, :style => "text-decoration:none" %></li>
	  </ul>
	</div>
</nav>

<a href=""></a>