<%= render :partial => 'partials/navbar' %>

<div class="row">

	<div class="col-md-9">		
		<h3>Gestionnaire des armées du Mordor</h3>
	</div>

		<%= image_tag('oeil-sauron.png') %>
</div>

<div class="col-md-offset-3">
	<% @grades.each do |grade| %>
		<ul style="float: left; padding: 20px;">
		<li><b><%= grade.name %></b></li>
			<% @personnages.each do |personnage| %>
				<% if personnage.grade_id == grade.id %>
					<li><%= personnage.nom %></li>
				<% end %>
			<% end %>
		</ul>
	<% end %>
</div>
