<%= simple_form_for @personnage do |f| %>

  <% if @personnage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this personnage from being saved:</h2>

      <ul>
      <% @personnage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :nom, label: 'Nom', class: 'form-control' %>

  <%= f.input :titre, label: 'Titre', class: 'form-control' %>

  <%= f.input :niveau, label: 'Niveau', class: 'form-control' %>

  <%= f.input :hp, label: 'Point de vie', class: 'form-control' %>

  <%= f.input :attaque, label: 'Points d\'attaque', class: 'form-control' %>

  <%= f.association :race, label: 'Race', class: 'form-control' %>
  
  <%= f.association :grade, label: 'Grade', class: 'form-control' %>

  <%= f.submit 'Enregistrer', class: 'btn btn-primary' %>

<% end %>
