<%= render :partial => 'partials/navbar' %>
<h1>Modifier Personnage</h1>

<%= render 'form' %>

<%= link_to 'Afficher', @personnage , class: 'btn  ' %> |
<%= link_to 'Retour', personnages_path , class: 'btn  ' %>
