<%= render :partial => 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<h1>Liste de Personnages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Titre</th>
      <th>Niveau</th>
      <th>Hp</th>
      <th>Attaque</th>
      <th>Race</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personnages.each do |personnage| %>
      <tr>
        <td><%= personnage.nom %></td>
        <td><%= personnage.titre %></td>
        <td><%= personnage.niveau %></td>
        <td><%= personnage.hp %></td>
        <td><%= personnage.attaque %></td>
        <td>
            <% race = personnage.race %>
            <% if race.nil? -%>
              aucun
            <% else %>
              <%= race.name %>
            <% end %>
        </td>
        <td>
            <% grade = personnage.grade %>
            <% if grade.nil? -%>
              aucun
            <% else %>
              <%= grade.name %>
            <% end %>          
        </td>
        <td><%= link_to 'Afficher', personnage, class: 'btn  ' %></td>
        <td><%= link_to 'Modifier', edit_personnage_path(personnage), class: 'btn  ' %></td>
        <td><%= link_to 'Supprimer', personnage, method: :delete, data: { confirm: 'Etes vous sure?' }, class: 'btn  ' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Personnage', new_personnage_path , class: 'btn  ' %>
