<%= render :partial => 'partials/navbar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personnage.nom %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @personnage.titre %>
</p>

<p>
  <strong>Niveau:</strong>
  <%= @personnage.niveau %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @personnage.hp %>
</p>

<p>
  <strong>Attaque:</strong>
  <%= @personnage.attaque %>
</p>

<p>
  <strong>Race :</strong>  
  <% race = @personnage.race %>
  <% if race.nil? -%>
    aucun
  <% else %>
    <%= race.name %>
  <% end %>
</p>

<p>
  <strong>Grade :</strong>  
  <% grade = @personnage.grade %>
  <% if grade.nil? -%>
    aucun
  <% else %>
    <%= grade.name %>
  <% end %>
</p>

<%= link_to 'Modifier', edit_personnage_path(@personnage) , class: 'btn  ' %> |
<%= link_to 'Retour', personnages_path , class: 'btn  ' %>
